# Week 5. Loops, List Comprehension, Sets, Dictionaries, Lambda, Filter, Map, Sorting

# Recap
## Repeating code using loops
### for - loop
```python
for <element> in <sequence>:
	<body>
```

- The loop index variable `element` takes on each successive value in the sequence, and the statements in the body of the loop are executed once for each value.
- For loops have a limitation -- you have to know how many times you are looping -- it is a definite loop. The number of iterations is determined when the loop starts. If you do not know how many times you will be looping, use a while loop, which is an indefinite loop that will continue to loop until its condition is no longer true.
- Use range(start,stop,step) immutable sequence of integers from start to stop (excluding) with stride step

In [ ]:
# loop over list
basket = ["apples", "bananas", "oranges", "lemons"]
for item in basket:
    print(f"You got {item}")

In [ ]:
# loop over tuple
basket = ("apples", "bananas", "oranges", "lemons")
for item in basket:
    print(f"You got {item}")

In [ ]:
# loop over range
for item in range(5):
    print(f"You got {item}")

### while - loop
```python
while <condition>:
	<body>
```

In [2]:
a=1
while a <= 1000:
   a*=2
   print(f"in the loop, a is {a}")
print(f"out of the loop, a is {a}")

in the loop, a is 2
in the loop, a is 4
in the loop, a is 8
in the loop, a is 16
in the loop, a is 32
in the loop, a is 64
in the loop, a is 128
in the loop, a is 256
in the loop, a is 512
in the loop, a is 1024
out of the loop, a is 1024

### Loop control
- Loop is controlled using `break` and `continue`.

In [4]:
basket = ["apples", "bananas", "oranges", "lemons"]
for item in basket:
    if item == "oranges":
        break
    print(f"You got {item}")
print(f"out of the loop, a is {item}")
# typically <item> would be not used outside for loop

You got apples
You got bananas
out of the loop, a is oranges

In [ ]:
a=1
while True:
   a*=2
   print(f"in the loop, a is {a}")
   if a > 1000:
        break
print("out of the loop, a is {a}")
# <a> often used outside of while

## List comprehension
- Unique to Python
- Three variations

```python
[ f(ele) for ele in sequence ]

[ f(ele) for ele in sequence if condition ]

[ f(ele) if condition else g(ele) for ele in sequence ]
```

In [7]:
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",85.0],
    ["Robert","Andrade","graduate",83.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]

In [8]:
# get last names
[v[1] for v in grades]

['Washington', 'Andrade', 'Smith', 'Delgado']

In [9]:
# get last names of undergraduates
[v[1] for v in grades if v[2]=="undergraduate"]

['Smith', 'Delgado']

In [10]:
# get sum of squares of undergraduates grades
def square(v):
    return v*v

sum([square(v[3]) for v in grades if v[2]=="undergraduate"])

11432.5

In [ ]:
# get squares

## File Handling (Read)

[Python docs on open function](https://docs.python.org/3/library/functions.html#open)

#### Pythonic way (i.e. the correct way)
```python
with open(filename, 'r') as file:
	for line in file:
		# do something with line
```

alternatively (less good)
```python
with open(filename, 'r') as file:
    lines = file.readlines()
	for line in lines:
		# do something with line
```

alternatively
```python
with open(filename, 'r') as file:
    content = file.read()

```

### Older ways
mirroring some other programming languages

```python
file = open(<filename>, 'r')
line = file.readline()
while line:
    print(line)
    line = file.readline()
file.close()
del file

```

## File Handling (Write)
```python
with open(filename, 'w') as file:
	file.write(f"hello world!\n")
```

```python
with open(filename, 'w') as file:
	print(f"hello world!", file=file)
```

```python
with open(filename, 'w') as file:
	print(f"hello world!\n", file=file, end='')
```

In [14]:
with open("test.txt", 'w') as file:
	file.write(f"hello world!\n")

In [15]:
# print to file
basket = ["apples", "bananas", "oranges", "lemons"]
with open("test.txt", 'w') as file:
    print(f"You got {item}")

# New
## Sets
- Formal mathematical sets
- Do not have duplicate values
- Are not ordered
- Cannot access via index.
- useful for doing set operations and `in` operation

In [17]:
A = {0, 2, 4, 6, 8}
B = {1, 2, 3, 4, 5}
basket = {"apples", "bananas", "oranges", "lemons"}

{0, 2, 4, 6, 8}

In [ ]:
2 in A

True

In [ ]:
# union -- all values
A | B

In [ ]:
# intersection -- shared values
A & B

In [ ]:
# difference -- order matters
A - B

In [ ]:
B - A

In [ ]:
# symmetric difference  https://en.wikipedia.org/wiki/Symmetric_difference
A ^ B

In [ ]:
# convertion
my_list = [1, 1, 2, 3]
my_list = list(set(my_list))

In [ ]:
basket = {"apples", "bananas", "oranges", "lemons"}

In [19]:
# can we loop it?

oranges
bananas
apples
lemons

## Dictionaries
- limitations of list
- list has collection of values, but no description
- student
  - name
  - email
  - id
  - major
- dictionary
- key value pair
- key is the index
- value is the value
- two ways to create dictionary
- my_dict = {}
- my_dict = dict()
- key value are separate colons
- key can only be string or number
- value can be anything!
- All information is stored like a dictionary, you supply the key and you get the value


```
# Dictionaries
student
  - name
  - email
  - id
  - major
```

In [53]:
# Most people use this
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering',
    123:123,
    1.3:23.4,
    (123,124):["apple",1,3.4],
    ("apple",2):1
}
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 123: 123,
 1.3: 23.4,
 (123, 124): ['apple', 1, 3.4],
 ('apple', 2): 1}

In [37]:
# Can also do this
my_dict2 = dict(
    name='john',
    email='john@email.com',
    id=1234,
    major='Engineering'
)

### Accessing Value by Key

In [38]:
# accessing value
my_dict[("apple",2)]

1

In [39]:
key = 'name'
my_dict[key]

'john'

### Iterating over Dictionaries

In [42]:
list(my_dict.values())

['john',
 'john@email.com',
 1234,
 'Engineering',
 123,
 23.4,
 ['apple', 1, 3.4],
 1]

In [41]:
for value in my_dict.values():
    print(value)

john
john@email.com
1234
Engineering
123
23.4
['apple', 1, 3.4]
1

In [43]:
for key in my_dict.keys():
    print(key)

name
email
id
major
123
1.3
(123, 124)
('apple', 2)

In [45]:
## access both
for key, value in my_dict.items():
    print(f'key is {key}, value is {value} and value is {my_dict[key]}')

key is name, value is john and value is john
key is email, value is john@email.com and value is john@email.com
key is id, value is 1234 and value is 1234
key is major, value is Engineering and value is Engineering
key is 123, value is 123 and value is 123
key is 1.3, value is 23.4 and value is 23.4
key is (123, 124), value is ['apple', 1, 3.4] and value is ['apple', 1, 3.4]
key is ('apple', 2), value is 1 and value is 1

In [46]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 123: 123,
 1.3: 23.4,
 (123, 124): ['apple', 1, 3.4],
 ('apple', 2): 1}

In [49]:
for key, value in my_dict.items():
    my_dict[key]=1
    value=0
my_dict

{'name': 1,
 'email': 1,
 'id': 1,
 'major': 1,
 123: 1,
 1.3: 1,
 (123, 124): 1,
 ('apple', 2): 1}

### test if dict contains a key

In [51]:
key = 'name12'
if key in my_dict:
    print(True)
else:
    print(False)

False

In [ ]:
## test if dict contains a value
# default is testing in key
value = 'john'
if value in my_dict.values():
    print(True)
else:
    print(False)

In [54]:
my_dict

{'name': 'john',
 'email': 'john@email.com',
 'id': 1234,
 'major': 'Engineering',
 123: 123,
 1.3: 23.4,
 (123, 124): ['apple', 1, 3.4],
 ('apple', 2): 1}

In [60]:


# checking value that can be missing
if 'Name' in my_dict and my_dict['Name']=='Bob':
    print(my_dict['Name'])
#if 'name' in my_dict:
#    print(my_dict['name'])
if my_dict.get('Name',None)=='Bob':
    print(my_dict['Name'])

### Dictionary Methods

In [62]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict.clear() ## empty dict
my_dict

{}

In [66]:
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
my_dict2 = my_dict
my_dict2['name']='Marta'
my_dict['name']
my_dict3 = my_dict.copy()
my_dict3['name']='Kate'
print(my_dict['name'])
print(my_dict2['name'])
print(my_dict3['name'])
#my_dict.copy() ## copy dict -- unique objects in memory

Marta
Marta
Kate

In [87]:
# check == and is; == is for values and is for memory
my_dict = {
    'name': 'john',
    'email': 'john@email.com',
    'id': 1234,
    'major': 'Engineering'
}
#my_dict == my_dict.copy()
list(sorted(my_dict.keys()))

['email', 'id', 'major', 'name']

In [67]:
# create default dictionary with initial value
new_student = {}.fromkeys(
    ['name', 'email', 'id', 'major'], 'missing')
new_student

{'name': 'missing', 'email': 'missing', 'id': 'missing', 'major': 'missing'}

In [68]:
my_dict = {}.fromkeys(range(5), 'iammissing')

In [ ]:
# get value by key with default value
my_dict.get('name', None) # default

In [ ]:
my_dict.get('name', False)

In [ ]:
my_dict.get('name', 'defaultname')

In [ ]:
# pop remove value using key
my_dict.pop('name')

In [69]:
# update -- way to append to dictionary
my_dict.update({'year':2010, 'ear': 2030})

In [70]:
student={
    'name':None,
    'school':'EAS'
}

In [76]:
student1 = student.copy()
student1.update({"name":"John","school":"CDA","year":1})
student1

{'name': 'John', 'school': 'CDA', 'year': 1}

### Dictionary Comprehension

```
{<key:value> for <item(s)> in <sequence>}
```

In [77]:
my_dict = {}.fromkeys(range(5), 5)
my_dict

{0: 5, 1: 5, 2: 5, 3: 5, 4: 5}

In [79]:
{key: key*value for key, value in my_dict.items()}

{0: 0, 1: 5, 2: 10, 3: 15, 4: 20}

In [80]:
[num*num for num in range(5)]

[0, 1, 4, 9, 16]

In [83]:
{f'Majic': num*num for num in range(5)}

{'Majic': 16}

In [88]:
list1 = ['john', 'jane', 'doe']
list2 = [95, 99, 98]

{list1[i]: list2[i] for i in range(len(list1))}

{'john': 95, 'jane': 99, 'doe': 98}

In [89]:
dict(zip(list1,list2))

{'john': 95, 'jane': 99, 'doe': 98}

In [ ]:
a = 1
b = "apple" if a > 0 else "banana"

In [90]:
{num: ("even" if num % 2 == 0 else "odd") for num in range(1, 20)}

{1: 'odd',
 2: 'even',
 3: 'odd',
 4: 'even',
 5: 'odd',
 6: 'even',
 7: 'odd',
 8: 'even',
 9: 'odd',
 10: 'even',
 11: 'odd',
 12: 'even',
 13: 'odd',
 14: 'even',
 15: 'odd',
 16: 'even',
 17: 'odd',
 18: 'even',
 19: 'odd'}

In [97]:
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",85.0],
    ["Robert","Andrade","graduate",83.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]
# want a list of dictionaries
# grades_dict[0] =
# {
#     "first_name": "John",
#     "last_name": "Washington",
#     "degree": "graduate",
#     "score":85.0
# }
grades_list_of_dict = [{
     "first_name": v[0],
     "last_name": v[1],
     "degree": v[2],
     "score":v[3]
 } for v in grades]

grades_list_of_dict

[{'first_name': 'John',
  'last_name': 'Washington',
  'degree': 'graduate',
  'score': 85.0},
 {'first_name': 'Robert',
  'last_name': 'Andrade',
  'degree': 'graduate',
  'score': 83.0},
 {'first_name': 'Paul',
  'last_name': 'Smith',
  'degree': 'undergraduate',
  'score': 79.5},
 {'first_name': 'Jason',
  'last_name': 'Delgado',
  'degree': 'undergraduate',
  'score': 71.5}]

## Lambda, Filter, and Map

### Lambda
lambda a function without a name;
- anonymous functions;
- one line only;
- single expression only
- stored in a variable
- When do you use it? Pass a function into another function as a parameter
- lambda variables (comma separated): expression
- lambda functions are used with other functions. Usually with map, filter, sort

Syntax:
```
lambda argument(s): expression
```

Example:
```python
#Normal python function
def square(x):
    return x*x
#Lambda function
lambda x: x*x
```

In [27]:
#Normal python function
def square(x):
    return x*x
square(9)

81

In [28]:
#Lambda function
(lambda x: x*x)(9)

81

### Filter
- Uses `function` to test the truthiness of each value in the sequence and returns a filtered list.
- `function` must return True or False

```python
filter(function, sequence)
```

In [1]:
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",83.0],
    ["Robert","Andrade","graduate",85.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]
grades

[['John', 'Washington', 'graduate', 83.0],
 ['Robert', 'Andrade', 'graduate', 85.0],
 ['Paul', 'Smith', 'undergraduate', 79.5],
 ['Jason', 'Delgado', 'undergraduate', 71.5]]

In [2]:
# get only graduate students using filter
[v for v in grades if v[2]=="graduate"]

[['John', 'Washington', 'graduate', 83.0],
 ['Robert', 'Andrade', 'graduate', 85.0]]

In [8]:
tuple(filter(lambda x:x[2]=="graduate",grades))

(['John', 'Washington', 'graduate', 83.0],
 ['Robert', 'Andrade', 'graduate', 85.0])

In [6]:
for item in filter(lambda x:x[2]=="graduate",grades):
    print(item)

['John', 'Washington', 'graduate', 83.0]
['Robert', 'Andrade', 'graduate', 85.0]

### Map
- Uses `function` to transform the values in a sequence
```python
map(function, sequence)
```

In [ ]:
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",83.0],
    ["Robert","Andrade","graduate",85.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]
grades

In [9]:
[v[3] for v in grades]

[83.0, 85.0, 79.5, 71.5]

In [11]:
sum(map(lambda x: x[3],grades))

319.0

### Sorting

[https://docs.python.org/3/library/functions.html#sorted](https://docs.python.org/3/library/functions.html#sorted)

```
sorted(iterable, *, key=None, reverse=False)
```

In [ ]:
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",83.0],
    ["Robert","Andrade","graduate",85.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]
grades

In [13]:
sorted([3,2,1,1.4,7],reverse=True)

[7, 3, 2, 1.4, 1]

In [25]:
sorted(grades, key=lambda x: x[3])

[['Jason', 'Delgado', 'undergraduate', 71.5],
 ['Paul', 'Smith', 'undergraduate', 79.5],
 ['John', 'Washington', 'graduate', 83.0],
 ['Robert', 'Andrade', 'graduate', 85.0]]

In [24]:
def my_scoring_function(x):
    return x[3]

sorted(grades, key=my_scoring_function)

[['Jason', 'Delgado', 'undergraduate', 71.5],
 ['Paul', 'Smith', 'undergraduate', 79.5],
 ['John', 'Washington', 'graduate', 83.0],
 ['Robert', 'Andrade', 'graduate', 85.0]]

In [27]:
sorted(grades, key=lambda x: x[3]*len(x[1]))

[['Paul', 'Smith', 'undergraduate', 79.5],
 ['Jason', 'Delgado', 'undergraduate', 71.5],
 ['Robert', 'Andrade', 'graduate', 85.0],
 ['John', 'Washington', 'graduate', 83.0]]

### Min/Max
```
min(iterable, *[, key, default])
max(iterable, *[, key, default])
```

In [23]:
max(grades, key=lambda x: x[3])

['Robert', 'Andrade', 'graduate', 85.0]

# Exercises
## For Loop

In [4]:
import random
random.seed(20211010)

In [30]:
##################################################################
# for_ex8.py
# Write a function simulates a coin toss
# Input: number of simulation
# Output: a string that concatenates the results, ex. 'HHHTTTHTHTHT'


def toss_a_coin(n):
    return "".join(["HT"[random.randint(0,1)] for i in range(n)])

toss_a_coin(10)

'HTTHHHTHHT'

In [67]:
##################################################################
# for_ex9.py
# Write a function that uses the output from the coin_toss function and calculates the probablity of H and T
# Input: number of simulation
# Output: probabily of H and T
def estimate_prob(events):
    "big help message"
    count = {'H':0, 'T':0}
    for event in events:
        count[event]+=1
    count['H']/=len(events)
    count['T']/=len(events)
    return count['H'],count['T']

    

estimate_prob('HHHTHHHTHHHTHHHTHHHTHHHT')

(0.75, 0.25)

In [68]:
##################################################################
# for_ex10.py
# Write a function that simultes coin_toss_probablity for a given number of times and calculates the average of H and T
# Input: number of simuations
# Input: number of coin tosses
# Output: average probability

def average_prob(num_of_coin_tosses, num_of_experiments):
    results = [estimate_prob(toss_a_coin(num_of_coin_tosses))  for iexp in range(num_of_experiments)]
    h_avg = sum([x[0] for x in results])/len(results)
    t_avg = sum([x[1] for x in results])/len(results)
    return h_avg, t_avg

average_prob(2,4)

(0.625, 0.375)

In [ ]:
##################################################################
# for_ex11.py
# Write a function that reads a file in which each line has multiple student grades and calculates the student average grade
# Print average of each student on screen
# Use list comprehension to convert grades to int
# use: for_ex11_data.txt

In [75]:

##################################################################
# for_ex12.py
# Write a function that generates a given number of students with a given number of grades and saves them to a file
# inputs: output_filename, number_of_students, number_of_tests, test_score_range(low, high)
# example output:
# student1,93,78,82,83,65
# student2,86,76,85,86,65
# student3,70,98,88,80,93
# student4,89,68,81,80,76
# student5,99,67,100,83,68
# student6,75,77,69,72,76
# student7,67,93,90,92,66
# student8,89,83,90,97,91
# student9,92,84,75,92,92
# student10,65,89,80,68,89
def for_ex12(output_filename, number_of_students, number_of_tests, test_score_range):
    from random import randint
    with open(output_filename, "w") as fout:
        for i in range(number_of_students):
            grades = [str(randint(*test_score_range)) for j in range(number_of_tests)]
            fout.write(f"student{i}," + ",".join(grades)+"\n")
        
for_ex12("test3.txt", 10, 6, (0, 100))

## While Loop

In [79]:
###############################################################
# while_ex1
# Write a program that takes integers from the user and returns the average
# Use a while loop and make an empty string the stop criteria.
m_sum = 0
m_count = 0
while True:
    user_input = input("number, please:")
    if user_input == "":
        break
    m_sum += int(user_input)
    m_count += 1
print(f"Average is {m_sum/m_count}")

number, please:1
number, please:3
number, please:2
number, please:
Average is 2.0

In [81]:
m_sum = 0
m_count = 0
user_input = input("number, please:")
while user_input != "":
    m_sum += int(user_input)
    m_count += 1
    user_input = input("number, please:")
print(f"Average is {m_sum/m_count}")

number, please:1
number, please:2
number, please:3
number, please:
Average is 2.0

In [80]:
###############################################################
# while_ex2
# Write a program that takes integers from the user and returns the average
# Use a while loop and make negative number the stop criteria.
m_sum = 0
m_count = 0
while True:
    user_input = int(input("number, please:"))
    if user_input < 0:
        break
    m_sum += int(user_input)
    m_count += 1
print(f"Average is {m_sum/m_count}")

number, please:1
number, please:2
number, please:3
number, please:-1
Average is 2.0

In [83]:
###############################################################
# while_ex3
# Write a program that takes test grades from the user and returns their average and the letter grade of the average
# Use a while loop and make negative number the stop criteria.
# A >=90
# B 80-89
# C 70-79
# D 60-69
# F 59 or less
m_sum = 0
m_count = 0
while True:
    user_input = input("grades, please:")
    if user_input == "":
        break
    m_sum += int(user_input)
    m_count += 1
average = m_sum/m_count

if average >= 90:
    letter_grade = "A"
elif average >= 80:
    letter_grade = "B"
elif average >= 70:
    letter_grade = "C"
elif average >= 60:
    letter_grade = "D"
else:
    letter_grade = "F"
print(f"Average is {letter_grade}, {average}")

grades, please:90
grades, please:91
grades, please:92
grades, please:
Average is A, 91.0

In [8]:
###############################################################
# while_ex4
# Write a program that takes an integer and counts down to zero -- print the value
n = int(input("Number, please:"))
# for...
for i in range(n,-1,-1):
    print(i)
# while...
i=n
while i >= 0:
    print(i)
    i -= 1

Number, please:5
5
4
3
2
1
0
5
4
3
2
1
0

In [10]:
###############################################################
# while_ex4
# Write a program that takes an integer number and outputs all the even numbers starting from 0 to the number
n = int(input("Number, please:"))
# for...
for i in range(n+1):
    if i % 2 ==0:
        print(i)
# while...
i=0
while i <= n:
    if i % 2 ==0:
        print(i)
    i += 1

Number, please:5
0
2
4
0
2
4

## Loop Control (Modified loop execution)

In [11]:
# Ex1
# Write a function that prints from 1 to n using a for loop, it should skip every
# multiple of 5

n=11

for i in range(n+1):
    if i % 5 == 0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11

In [12]:
# Ex2
# Write a function that prints from 1 to n squared using a while loop.
# It should stop the while loop if the iteration count is 50.

n=17
i=1
while True:
    print(i*i)
    if i >= 50:
        break
    i+=1

1
4
9
16
25
36
49
64
81
100
121
144
169
196
225
256
289
324
361
400
441
484
529
576
625
676
729
784
841
900
961
1024
1089
1156
1225
1296
1369
1444
1521
1600
1681
1764
1849
1936
2025
2116
2209
2304
2401
2500

In [17]:
import random
with open("number.dat", "w") as fout:
    for i in range(10):
        fout.write(", ".join([str(random.randint(-100,100)) for j in range(random.randint(0,10))])+"\n")

In [25]:
# Ex3
# Write a function that reads numbers from a file and prints their average.
# Skip empty lines
with open("number.dat","r") as fin:
    count = 0
    m_sum = 0
    for line in fin:
        line = line.strip().replace(",", " ")
        if line == "":
            continue
        line_numbers = [int(v) for v in line.split()]
        m_sum+=sum(line_numbers)
        count+=len(line_numbers)
    print(f"average is {m_sum/count}")

average is 2.88

## List Comprehention

In [26]:
m_list = [1, "two", [3, "three"], 4.0, 5]

# create a list containing squares of m_list list 
# but only for integers
m_list2 = []
for item in m_list:
    if isinstance(item, int):
        m_list2.append(item**2)

m_list2

[1, 25]

In [27]:
m_list3 = [item**2 for item in m_list if isinstance(item, int)]
m_list3

[1, 25]

In [28]:
###############################################################
# list_comp_ex1.py
# Re-write the following code to use List Comprehension
my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * ele
    new_list.append(tmp)
new_list

[1, 4, 9]

In [30]:
new_list = [ele * ele for ele in my_list]
new_list

[1, 4, 9]

In [31]:
###############################################################
# list_comp_ex2.py
# Re-write the following code to use List Comprehension
# # Multiply each number by 10

my_list = [1, 2, 3]
new_list = []
for ele in my_list:
    tmp = ele * 10
    new_list.append(tmp)
#uncomment a block is ctrl+/

new_list2 = [ele * 10 for ele in my_list]
new_list==new_list2

True

In [41]:
###############################################################
# list_comp_ex3.py
# Upper case each letter in animal variable

animal = "elephant"

delta = ord("a")-ord("A")
#chr(95)
print([chr(ord(l)-delta) for l in animal])
"".join([chr(ord(l)-delta) for l in animal])

['E', 'L', 'E', 'P', 'H', 'A', 'N', 'T']

'ELEPHANT'

In [42]:
[l.upper() for l in animal]

['E', 'L', 'E', 'P', 'H', 'A', 'N', 'T']

In [43]:
###############################################################
# list_comp_ex4.py
# Title each name in the student list
grades = [
    #First_Name,Last_Name,Degree,average
    ["John","Washington","graduate",83.0],
    ["Robert","Andrade","graduate",85.0],
    ["Paul","Smith","undergraduate",79.5],
    ["Jason","Delgado","undergraduate",71.5],
]
lower_last_names = [student[1].lower() for student in grades]
lower_last_names

['washington', 'andrade', 'smith', 'delgado']

In [44]:
[last_name.capitalize() for last_name in lower_last_names]

['Washington', 'Andrade', 'Smith', 'Delgado']

In [45]:
###############################################################
# list_comp_ex5.py
# Use list comprehension to get the Truthiness of each element in my_list

my_list = [0, '', []]
[bool(item) for item in my_list]

[False, False, False]

In [46]:
###############################################################
# list_comp_ex6.py
# convert each element of my_list to str using list comprehension
my_list = range(6)
[str(item) for item in my_list]

['0', '1', '2', '3', '4', '5']

In [50]:
###############################################################
# list_comp_ex7.py
# use list comprehension to reduce a list of numbers to just even or odd
numbers = range(20)
odd = [v for v in numbers if v % 2 == 1]
odd

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [51]:
###############################################################
# list_comp_ex8.py
# use list comprehension to modify a list of numbers such that evens are left as is
# and the odds are raised to the three power
numbers = range(20)

[v if v%2==0 else v*v*v  for v in numbers]

[0,
 1,
 2,
 27,
 4,
 125,
 6,
 343,
 8,
 729,
 10,
 1331,
 12,
 2197,
 14,
 3375,
 16,
 4913,
 18,
 6859]

In [54]:
###############################################################
# list_comp_ex9.py
# use list comprehension to remove vowels from a sentence

sentence = 'I rEAlly want to gO to work'
"".join([c for c in sentence if c.lower() not in ('e','a','o','u','i','y')])

' rll wnt t g t wrk'

## Set

In [60]:
# Ex1
# Write a function that takes name of two gene files,
# reads them, and returns which genes are:
# 1) In first file but not in second file
# 2) In second file but not in first file
with open("gene_list1.txt", "r") as fin:
    genes1 = set([v.strip() for v in fin.readlines()])

with open("gene_list2.txt", "r") as fin:
    genes2 = set([v.strip() for v in fin.readlines()])

In [71]:
a1=set((gene for gene in genes1 if gene not in genes2))

In [68]:
# In first file but not in second file
a2 = genes1 - genes2
a1==a2

True

In [72]:
a1

{'A1BG',
 'A1CF',
 'A2M',
 'A2ML1',
 'A3GALT2',
 'A4GALT',
 'A4GNT',
 'AAAS',
 'AACS',
 'AADAC',
 'AADACL2',
 'AADACL3',
 'AADACL4',
 'AADAT',
 'AAGAB',
 'AAK1',
 'AAMDC',
 'AAMP',
 'AANAT',
 'AAR2',
 'AARD',
 'AARS1',
 'AARS2',
 'AARSD1',
 'AASDH',
 'AASDHPPT',
 'AASS',
 'AATF',
 'AATK',
 'ABAT',
 'ABCA1',
 'ABCA10',
 'ABCA12',
 'ABCA13',
 'ABCA2',
 'ABCA3',
 'ABCA4',
 'ABCA5',
 'ABCA6',
 'ABCA7',
 'ABCA8',
 'ABCA9',
 'ABCB1',
 'ABCB10',
 'ABCB11',
 'ABCB4',
 'ABCB5',
 'ABCB6',
 'ABCB7',
 'ABCB8',
 'ABCB9',
 'ABCC1',
 'ABCC10',
 'ABCC11',
 'ABCC12',
 'ABCC2',
 'ABCC3',
 'ABCC4',
 'ABCC5',
 'ABCC6',
 'ABCC8',
 'ABCC9',
 'ABCD1',
 'ABCD2',
 'ABCD3',
 'ABCD4',
 'ABCE1',
 'ABCF1',
 'ABCF2',
 'ABCF3',
 'ABCG1',
 'ABCG2',
 'ABCG4',
 'ABCG5',
 'ABCG8',
 'ABHD1',
 'ABHD10',
 'ABHD2',
 'ABHD3',
 'ABHD4',
 'ABHD5',
 'ABHD6',
 'ABHD8',
 'ACD',
 'ACE',
 'ACE2',
 'ACER1',
 'ACER2',
 'ACER3',
 'ACHE',
 'ACIN1',
 'ACKR1',
 'ACKR2',
 'ACKR3',
 'ACKR4',
 'ACLY',
 'ACMSD',
 'ACO1',
 'ACO2',
 'ACOD1',
 'ACOT1',
 'ACOT11',
 'ACOT12',
 'ACOT13',
 'ACOT2',
 'ACOT4',
 'ACOT6',
 'ACOT7',
 'ACOT8',
 'ACOT9',
 'ACOX1',
 'ACOX2',
 'ACOX3',
 'ACOXL',
 'ACP1',
 'ACP2',
 'ACP3',
 'ACP4',
 'ACP5',
 'ACP6',
 'ACP7',
 'ACR',
 'ACRBP',
 'ACRV1',
 'ACSBG1',
 'ACSBG2',
 'ACSF2',
 'ACSF3',
 'ACSL1',
 'ACSL3',
 'ACSL4',
 'ACSL5',
 'ACSL6',
 'ACSM1',
 'ACSM2A',
 'ACSM2B',
 'ACSM3',
 'ACSM4',
 'ACSM5',
 'ACSM6',
 'ACSS1',
 'ACSS2',
 'ACSS3',
 'ACTA1',
 'ACTA2',
 'ACTB',
 'ACTBL2',
 'ACTC1',
 'ACTG1',
 'ACTG2',
 'ACTL10',
 'ACTL6A',
 'ACTL6B',
 'ACTL7A',
 'ACTL7B',
 'ACTL8',
 'ACTL9',
 'ACTN1',
 'ACTN2',
 'ACTN3',
 'ACTN4',
 'ACTR10',
 'ACTR1A',
 'ACTR1B',
 'ACTR2',
 'ACTR3',
 'ACTR3B',
 'ACTR3C',
 'ACTR5',
 'ACTR6',
 'ACTR8',
 'ACTRT1',
 'ACTRT2',
 'ACTRT3',
 'ACVR1',
 'ACVR1B',
 'ACVR1C',
 'ACVR2A',
 'ACVR2B',
 'ACVRL1',
 'ACY1',
 'ACY3',
 'ACYP1',
 'ACYP2',
 'ADA'}

In [73]:
# In second file but not in first file
genes2 - genes1

{'ZNF714',
 'ZNF716',
 'ZNF717',
 'ZNF718',
 'ZNF720',
 'ZNF721',
 'ZNF723',
 'ZNF724',
 'ZNF726',
 'ZNF727',
 'ZNF728',
 'ZNF729',
 'ZNF730',
 'ZNF732',
 'ZNF735',
 'ZNF736',
 'ZNF737',
 'ZNF738',
 'ZNF740',
 'ZNF746',
 'ZNF747',
 'ZNF749',
 'ZNF750',
 'ZNF761',
 'ZNF763',
 'ZNF764',
 'ZNF765',
 'ZNF766',
 'ZNF768',
 'ZNF770',
 'ZNF771',
 'ZNF772',
 'ZNF773',
 'ZNF774',
 'ZNF775',
 'ZNF776',
 'ZNF777',
 'ZNF778',
 'ZNF780A',
 'ZNF780B',
 'ZNF781',
 'ZNF782',
 'ZNF783',
 'ZNF784',
 'ZNF785',
 'ZNF786',
 'ZNF787',
 'ZNF789',
 'ZNF790',
 'ZNF791',
 'ZNF792',
 'ZNF793',
 'ZNF799',
 'ZNF800',
 'ZNF804A',
 'ZNF804B',
 'ZNF805',
 'ZNF808',
 'ZNF813',
 'ZNF814',
 'ZNF816',
 'ZNF821',
 'ZNF823',
 'ZNF827',
 'ZNF829',
 'ZNF830',
 'ZNF831',
 'ZNF835',
 'ZNF836',
 'ZNF837',
 'ZNF839',
 'ZNF841',
 'ZNF843',
 'ZNF844',
 'ZNF845',
 'ZNF846',
 'ZNF850',
 'ZNF852',
 'ZNF853',
 'ZNF860',
 'ZNF862',
 'ZNF865',
 'ZNF875',
 'ZNF878',
 'ZNF879',
 'ZNF880',
 'ZNF883',
 'ZNF888',
 'ZNF891',
 'ZNFX1',
 'ZNHIT1',
 'ZNHIT2',
 'ZNHIT3',
 'ZNHIT6',
 'ZNRD1',
 'ZNRD2',
 'ZNRF1',
 'ZNRF2',
 'ZNRF3',
 'ZNRF4',
 'ZP1',
 'ZP2',
 'ZP3',
 'ZP4',
 'ZPBP',
 'ZPBP2',
 'ZPLD1',
 'ZPR1',
 'ZRANB1',
 'ZRANB2',
 'ZRANB3',
 'ZRSR2',
 'ZSCAN1',
 'ZSCAN10',
 'ZSCAN12',
 'ZSCAN16',
 'ZSCAN18',
 'ZSCAN2',
 'ZSCAN20',
 'ZSCAN21',
 'ZSCAN22',
 'ZSCAN23',
 'ZSCAN25',
 'ZSCAN26',
 'ZSCAN29',
 'ZSCAN30',
 'ZSCAN31',
 'ZSCAN32',
 'ZSCAN4',
 'ZSCAN5A',
 'ZSCAN5B',
 'ZSCAN5C',
 'ZSCAN9',
 'ZSWIM1',
 'ZSWIM2',
 'ZSWIM3',
 'ZSWIM4',
 'ZSWIM5',
 'ZSWIM6',
 'ZSWIM7',
 'ZSWIM8',
 'ZSWIM9',
 'ZUP1'}

## Dictionaries

In [81]:
##############################################################
# dict_ex1.py
# Load people.tsv into a dictionary. Prompt user for filename
with open("people.tsv","r") as fin:
    lines = [l.strip().split() for l in fin.readlines()[1:]]
    people = [{'last_name':l[0], 'first_name': l[1], 'email': l[2], 'country': l[3], 'account': l[4]} for l in lines]
people

[{'last_name': 'Weaver',
  'first_name': 'Michael',
  'email': 'xdunn@hotmail.com',
  'country': 'Nepal',
  'account': 'QVJP6465242365388'},
 {'last_name': 'Owens',
  'first_name': 'Jackson',
  'email': 'iedwards@yahoo.com',
  'country': 'Kazakhstan',
  'account': 'FVQZ0955529767455'},
 {'last_name': 'Gilmore',
  'first_name': 'Patrick',
  'email': 'arogers@smith.com',
  'country': 'Mauritius',
  'account': 'QFIM0905182880347'},
 {'last_name': 'Perez',
  'first_name': 'Jeffrey',
  'email': 'plewis@chavez.com',
  'country': 'New',
  'account': 'Zealand'},
 {'last_name': 'Thomas',
  'first_name': 'James',
  'email': 'fred92@yahoo.com',
  'country': 'Yemen',
  'account': 'QAAE9838291982555'},
 {'last_name': 'Nelson',
  'first_name': 'Greg',
  'email': 'mmiller@lynch.com',
  'country': 'Jordan',
  'account': 'PCNE8127696280157'},
 {'last_name': 'White',
  'first_name': 'Joshua',
  'email': 'steven49@gmail.com',
  'country': 'Palau',
  'account': 'BCEN3299883381338'},
 {'last_name': 'Francis',
  'first_name': 'Todd',
  'email': 'amanda23@hotmail.com',
  'country': 'Argentina',
  'account': 'XPTQ7837014557677'},
 {'last_name': 'Shaw',
  'first_name': 'Stephen',
  'email': 'jackduke@hotmail.com',
  'country': 'Marshall',
  'account': 'Islands'},
 {'last_name': 'Armstrong',
  'first_name': 'Mariah',
  'email': 'rhodesnicholas@hotmail.com',
  'country': 'Albania',
  'account': 'OHOV7518558201999'},
 {'last_name': 'Boyle',
  'first_name': 'Anthony',
  'email': 'smithashlee@yahoo.com',
  'country': 'Kyrgyz',
  'account': 'Republic'},
 {'last_name': 'Cuevas',
  'first_name': 'Patrick',
  'email': 'ubriggs@hill.info',
  'country': 'Turkmenistan',
  'account': 'PPHE5533473251751'},
 {'last_name': 'Reyes',
  'first_name': 'Gerald',
  'email': 'brownclarence@gonzalez-moore.com',
  'country': 'Fiji',
  'account': 'JCDK1943355298609'},
 {'last_name': 'Calderon',
  'first_name': 'Christopher',
  'email': 'teresa30@carpenter-warner.com',
  'country': 'Costa',
  'account': 'Rica'},
 {'last_name': 'Weiss',
  'first_name': 'Shane',
  'email': 'leekatherine@williams.com',
  'country': 'Martinique',
  'account': 'DLDV5789894914403'},
 {'last_name': 'Conley',
  'first_name': 'Crystal',
  'email': 'chasewatkins@perez-phillips.com',
  'country': 'Singapore',
  'account': 'GZZF6936998445532'},
 {'last_name': 'Nelson',
  'first_name': 'Jeffrey',
  'email': 'hsherman@gmail.com',
  'country': 'Mayotte',
  'account': 'ECGK2823955143629'},
 {'last_name': 'Johnson',
  'first_name': 'Brianna',
  'email': 'martinezdaniel@hotmail.com',
  'country': 'Costa',
  'account': 'Rica'},
 {'last_name': 'Werner',
  'first_name': 'Brandon',
  'email': 'justinfischer@gmail.com',
  'country': 'Guadeloupe',
  'account': 'UKRT1119626365017'},
 {'last_name': 'Bennett',
  'first_name': 'Brianna',
  'email': 'cindy08@gmail.com',
  'country': 'Bahamas',
  'account': 'UNPV3347450330173'},
 {'last_name': 'Fletcher',
  'first_name': 'Austin',
  'email': 'carolharrington@fleming.org',
  'country': 'Azerbaijan',
  'account': 'GJZT6825738428111'},
 {'last_name': 'Lewis',
  'first_name': 'Patrick',
  'email': 'lopezcarl@johnson.com',
  'country': 'Saint',
  'account': 'Helena'},
 {'last_name': 'Smith',
  'first_name': 'Joseph',
  'email': 'michael74@yahoo.com',
  'country': 'Hong',
  'account': 'Kong'},
 {'last_name': 'Sullivan',
  'first_name': 'Sharon',
  'email': 'gonzalezrobert@hotmail.com',
  'country': 'Turkey',
  'account': 'YHXF7256577475630'},
 {'last_name': 'Wilson',
  'first_name': 'Krystal',
  'email': 'dawnjohnson@gmail.com',
  'country': 'Swaziland',
  'account': 'MUVI3570791852556'},
 {'last_name': 'Schmidt',
  'first_name': 'Diana',
  'email': 'watersryan@gmail.com',
  'country': 'Holy',
  'account': 'See'},
 {'last_name': 'Huff',
  'first_name': 'Sean',
  'email': 'byoung@gmail.com',
  'country': 'Norfolk',
  'account': 'Island'},
 {'last_name': 'Nguyen',
  'first_name': 'Robin',
  'email': 'vhanson@yahoo.com',
  'country': 'Kenya',
  'account': 'SVMU4403517448078'},
 {'last_name': 'Russell',
  'first_name': 'Robyn',
  'email': 'bfletcher@yahoo.com',
  'country': 'Togo',
  'account': 'ZNUY4071301663622'},
 {'last_name': 'Smith',
  'first_name': 'Tiffany',
  'email': 'colleengarrison@hotmail.com',
  'country': 'San',
  'account': 'Marino'},
 {'last_name': 'Smith',
  'first_name': 'Lori',
  'email': 'catherine23@gmail.com',
  'country': 'Romania',
  'account': 'MKWY4848668895426'},
 {'last_name': 'Keith',
  'first_name': 'Sabrina',
  'email': 'xmurphy@yahoo.com',
  'country': 'Algeria',
  'account': 'QHIW7412514205367'},
 {'last_name': 'Johnson',
  'first_name': 'Miguel',
  'email': 'aaronrichard@middleton.net',
  'country': 'Slovakia',
  'account': '(Slovak'},
 {'last_name': 'Barron',
  'first_name': 'Dustin',
  'email': 'jesse93@best.com',
  'country': 'Somalia',
  'account': 'LRPR8694143910883'},
 {'last_name': 'Robinson',
  'first_name': 'Michael',
  'email': 'johnperez@johnson.com',
  'country': 'Turkmenistan',
  'account': 'UWFU1921951273393'},
 {'last_name': 'Nguyen',
  'first_name': 'Robert',
  'email': 'jessica62@yahoo.com',
  'country': 'Croatia',
  'account': 'JQHS4274771257925'},
 {'last_name': 'Abbott',
  'first_name': 'Brandon',
  'email': 'jennifer87@gmail.com',
  'country': 'Jamaica',
  'account': 'RSLD0426398604312'},
 {'last_name': 'Oneill',
  'first_name': 'Bruce',
  'email': 'morenolindsay@bass.org',
  'country': 'Montserrat',
  'account': 'UYHI6964741005832'},
 {'last_name': 'Nash',
  'first_name': 'Linda',
  'email': 'robertdavis@hotmail.com',
  'country': 'Heard',
  'account': 'Island'},
 {'last_name': 'Cameron',
  'first_name': 'Kathleen',
  'email': 'melanie81@rogers.com',
  'country': 'Niger',
  'account': 'HHHP3471562002758'},
 {'last_name': 'Wilkinson',
  'first_name': 'Wesley',
  'email': 'clineerin@hotmail.com',
  'country': 'Saint',
  'account': 'Vincent'},
 {'last_name': 'Wallace',
  'first_name': 'Debbie',
  'email': 'terri95@hotmail.com',
  'country': 'Antigua',
  'account': 'and'},
 {'last_name': 'Woodward',
  'first_name': 'Kayla',
  'email': 'danielle65@yahoo.com',
  'country': 'Mexico',
  'account': 'VDWY7565964041116'},
 {'last_name': 'Bennett',
  'first_name': 'Stephanie',
  'email': 'sjackson@yahoo.com',
  'country': 'Singapore',
  'account': 'DNRB2101855092009'},
 {'last_name': 'Jenkins',
  'first_name': 'Caleb',
  'email': 'douglas63@yahoo.com',
  'country': 'Botswana',
  'account': 'IILE1765776198023'},
 {'last_name': 'Edwards',
  'first_name': 'Valerie',
  'email': 'woodardlindsey@yahoo.com',
  'country': 'Guinea',
  'account': 'ZJUF2687631787282'},
 {'last_name': 'Anderson',
  'first_name': 'Mary',
  'email': 'suebrown@yahoo.com',
  'country': 'Chile',
  'account': 'DHMT4208071148508'},
 {'last_name': 'Ray',
  'first_name': 'Angela',
  'email': 'swhite@yahoo.com',
  'country': 'Mayotte',
  'account': 'UBRR8524342666714'},
 {'last_name': 'Edwards',
  'first_name': 'Haley',
  'email': 'martinkimberly@lopez.com',
  'country': 'Macedonia',
  'account': 'OGPU6537909247863'},
 {'last_name': 'Clark',
  'first_name': 'Charles',
  'email': 'jessica11@hotmail.com',
  'country': 'Ukraine',
  'account': 'AHYX6128839695452'},
 {'last_name': 'Hill',
  'first_name': 'Lisa',
  'email': 'hsmith@baker.com',
  'country': 'Saint',
  'account': 'Martin'},
 {'last_name': 'Carpenter',
  'first_name': 'Jonathan',
  'email': 'fklein@yahoo.com',
  'country': 'Germany',
  'account': 'PKFW4841194501766'},
 {'last_name': 'Griffith',
  'first_name': 'Latoya',
  'email': 'ryan32@skinner.com',
  'country': 'Lesotho',
  'account': 'BNYD8693045932496'},
 {'last_name': 'Blair',
  'first_name': 'Kim',
  'email': 'tmurphy@flores.biz',
  'country': 'Nepal',
  'account': 'FQJA6381776349463'},
 {'last_name': 'Salazar',
  'first_name': 'Mary',
  'email': 'mary64@ray.org',
  'country': 'Latvia',
  'account': 'KCNI2464381879411'},
 {'last_name': 'Krueger',
  'first_name': 'Kenneth',
  'email': 'jennajoseph@yahoo.com',
  'country': 'Central',
  'account': 'African'},
 {'last_name': 'Burke',
  'first_name': 'Phillip',
  'email': 'watsonsamuel@gmail.com',
  'country': 'Peru',
  'account': 'CNJX1222752295544'},
 {'last_name': 'Juarez',
  'first_name': 'Erica',
  'email': 'xvelasquez@hughes.com',
  'country': 'Spain',
  'account': 'ZROP5229895490397'},
 {'last_name': 'Watkins',
  'first_name': 'Jason',
  'email': 'april99@gmail.com',
  'country': 'Seychelles',
  'account': 'NXKK2792812848629'},
 {'last_name': 'Carter',
  'first_name': 'Lee',
  'email': 'kfletcher@yahoo.com',
  'country': 'Faroe',
  'account': 'Islands'},
 {'last_name': 'Huang',
  'first_name': 'Randy',
  'email': 'xchurch@hotmail.com',
  'country': 'Tokelau',
  'account': 'KAOL9792684486009'},
 {'last_name': 'Owen',
  'first_name': 'Kristina',
  'email': 'megan24@stewart.net',
  'country': 'Cocos',
  'account': '(Keeling)'},
 {'last_name': 'Turner',
  'first_name': 'Beth',
  'email': 'sydneycollins@hunter.com',
  'country': 'Burundi',
  'account': 'OMOK4767172062189'},
 {'last_name': 'Aguirre',
  'first_name': 'Michael',
  'email': 'robertbowen@chavez-ortega.com',
  'country': 'Timor-Leste',
  'account': 'KRKF7344951038740'},
 {'last_name': 'Wilson',
  'first_name': 'Elizabeth',
  'email': 'christiandanielle@yahoo.com',
  'country': 'Montserrat',
  'account': 'SAAA4141150617330'},
 {'last_name': 'Hardy',
  'first_name': 'Teresa',
  'email': 'kdavidson@gordon.com',
  'country': 'Norway',
  'account': 'XNWQ1072087896797'},
 {'last_name': 'Stewart',
  'first_name': 'David',
  'email': 'bennettwanda@vega-guerra.net',
  'country': 'Sierra',
  'account': 'Leone'},
 {'last_name': 'Moore',
  'first_name': 'Heather',
  'email': 'mark00@hotmail.com',
  'country': 'French',
  'account': 'Polynesia'},
 {'last_name': 'Grant',
  'first_name': 'Melissa',
  'email': 'schaefernatalie@hotmail.com',
  'country': 'French',
  'account': 'Guiana'},
 {'last_name': 'Thompson',
  'first_name': 'Jennifer',
  'email': 'moralesmartin@rodgers.com',
  'country': 'Cape',
  'account': 'Verde'},
 {'last_name': 'Anderson',
  'first_name': 'Raymond',
  'email': 'dprince@hotmail.com',
  'country': 'Barbados',
  'account': 'IGXK5881682171566'},
 {'last_name': 'Ramsey',
  'first_name': 'Angela',
  'email': 'cparks@valdez-hudson.com',
  'country': 'Andorra',
  'account': 'QYBW6359021109484'},
 {'last_name': 'Gonzales',
  'first_name': 'Betty',
  'email': 'martinezrichard@yahoo.com',
  'country': 'Montserrat',
  'account': 'UTSI0776569247505'},
 {'last_name': 'Castaneda',
  'first_name': 'Thomas',
  'email': 'kpena@yahoo.com',
  'country': 'Egypt',
  'account': 'LSDI9463735752680'},
 {'last_name': 'Todd',
  'first_name': 'Jonathan',
  'email': 'julie68@gmail.com',
  'country': 'Malaysia',
  'account': 'ISYY1401931979959'},
 {'last_name': 'Garcia',
  'first_name': 'Stacey',
  'email': 'lukebradford@hotmail.com',
  'country': 'Zimbabwe',
  'account': 'HNOA0376843856035'},
 {'last_name': 'Figueroa',
  'first_name': 'Judy',
  'email': 'ystewart@yahoo.com',
  'country': 'Portugal',
  'account': 'EEVV8325881104553'},
 {'last_name': 'Castillo',
  'first_name': 'Ashley',
  'email': 'cory33@king-shaw.net',
  'country': 'Paraguay',
  'account': 'QXGZ3111246190069'},
 {'last_name': 'Flores',
  'first_name': 'Zachary',
  'email': 'zcalhoun@gmail.com',
  'country': 'Central',
  'account': 'African'},
 {'last_name': 'Allen',
  'first_name': 'Erica',
  'email': 'michaelhall@hotmail.com',
  'country': 'Palau',
  'account': 'ZAZD8310339637467'},
 {'last_name': 'Potts',
  'first_name': 'Savannah',
  'email': 'kristentaylor@yahoo.com',
  'country': 'Micronesia',
  'account': 'ARWK1547324119222'},
 {'last_name': 'Wheeler',
  'first_name': 'Zachary',
  'email': 'stephen63@yahoo.com',
  'country': 'Armenia',
  'account': 'OMQX4840913072589'},
 {'last_name': 'Thomas',
  'first_name': 'Timothy',
  'email': 'bryanmartin@gmail.com',
  'country': 'Bahrain',
  'account': 'OCFV4659464275270'},
 {'last_name': 'Mcknight',
  'first_name': 'Ann',
  'email': 'kristinavelasquez@gmail.com',
  'country': 'Guatemala',
  'account': 'DTRB4720098955341'},
 {'last_name': 'Thompson',
  'first_name': 'Ruth',
  'email': 'denise01@burns.org',
  'country': 'Saint',
  'account': 'Vincent'},
 {'last_name': 'Levy',
  'first_name': 'Daniel',
  'email': 'beancody@jones.com',
  'country': 'Kazakhstan',
  'account': 'AHBN3151680654826'},
 {'last_name': 'Hubbard',
  'first_name': 'Paul',
  'email': 'ubradley@yahoo.com',
  'country': 'Germany',
  'account': 'FGBC0366153271398'},
 {'last_name': 'Jones',
  'first_name': 'Jason',
  'email': 'anthony75@yahoo.com',
  'country': 'Western',
  'account': 'Sahara'},
 {'last_name': 'Garcia',
  'first_name': 'Margaret',
  'email': 'antonio52@gmail.com',
  'country': 'Togo',
  'account': 'IYOD4325345823013'},
 {'last_name': 'Peters',
  'first_name': 'Jeremy',
  'email': 'johnlewis@hotmail.com',
  'country': 'Guam',
  'account': 'NZFX8257739892619'},
 {'last_name': 'Stone',
  'first_name': 'Mark',
  'email': 'nmoore@hotmail.com',
  'country': 'Kuwait',
  'account': 'MWRB2515761996641'},
 {'last_name': 'Edwards',
  'first_name': 'Darius',
  'email': 'nchurch@yahoo.com',
  'country': 'Eritrea',
  'account': 'CURJ9953745256871'},
 {'last_name': 'Lawson',
  'first_name': 'Tracy',
  'email': 'piercejenna@gmail.com',
  'country': 'Czech',
  'account': 'Republic'},
 {'last_name': 'Cooper',
  'first_name': 'Christina',
  'email': 'ddavidson@hotmail.com',
  'country': 'Maldives',
  'account': 'RQGA0882784089265'},
 {'last_name': 'Harris',
  'first_name': 'Megan',
  'email': 'ndelacruz@yahoo.com',
  'country': 'Armenia',
  'account': 'EOPA8088866975598'},
 {'last_name': 'Jones',
  'first_name': 'Timothy',
  'email': 'jenniferadkins@griffin.biz',
  'country': 'Benin',
  'account': 'JCUN9597199552039'},
 {'last_name': 'Burch',
  'first_name': 'Tracie',
  'email': 'evansmiguel@yahoo.com',
  'country': 'Fiji',
  'account': 'IZYL3351829981461'},
 {'last_name': 'Chung',
  'first_name': 'Jason',
  'email': 'kenneththompson@baxter.com',
  'country': 'Iceland',
  'account': 'JDIH2349154465371'},
 {'last_name': 'Melton',
  'first_name': 'Samantha',
  'email': 'bcurtis@hotmail.com',
  'country': 'Macedonia',
  'account': 'VRZP1447516193511'},
 {'last_name': 'Hansen',
  'first_name': 'Michael',
  'email': 'phillipssean@hotmail.com',
  'country': 'Serbia',
  'account': 'QKAF2254397516681'}]

In [8]:
####################################################
# dict_ex2.py
# Write a function to convert month number to
# month name. First use a list and then a dictionary
# 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'

months = ['pad', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

def convert_to_month_name(month_number):
    if month_number > 12 or month_number < 1:
        raise ValueError(f"There is no such month number ({month_number})")
    return months[month_number]

print(convert_to_month_name(1))

January

In [15]:
months_to_number = {v.lower():i+1 for i,v in enumerate(months[1:])}

def convert_to_month_number(month_name):
    return months_to_number.get(month_name.lower(), None)
    
#months_to_number
print(convert_to_month_number("manuary"))

None

In [25]:
####################################################
# dict_ex3.py
# Convert text message to numbers

# 0 	space
# 1 	., ?, !
# 2 	ABC
# 3 	DEF
# 4 	GHI
# 5 	JKL
# 6 	MNO
# 7 	PQRS
# 8 	TUV
# 9 	WXYZ

code = {
    0: " ",
    1: ".,?!",
    2: "ABC",
    3: "DEF",
    4: "GHI",
    5: "JKL",
    6: "MNO",
    7: "PQRS",
    8: "TUV",
    9: "WXYZ"
}

symbol_to_number = {}
for k,v in code.items():
    for s in v:
        symbol_to_number[s] = k


def convert_text_to_numbers(msg):
    return int("".join([str(symbol_to_number[m]) for m in msg.upper()]))

convert_text_to_numbers("Test!")

83781

In [27]:
####################################################
# dict_ex4.py
# Write a function that uses enumerate to print the index and value from range.
# Use vary the enumerate start index
for i,v in enumerate(range(11,21,3)):
    print(i, v)

0 11
1 14
2 17
3 20

In [61]:
######################################################
# dict_ex5.py
# Simulate two dice. Print the total, theoretical/expected probability, and simulated probability
# input: the number of simulations
# https://socratic.org/questions/what-is-the-expected-value-of-the-sum-of-two-rolls-of-a-six-sided-die
# Total     Simulated Percent     Expected Percent

# 2                      2.76                 2.78
# 3                      5.57                 5.56
# 4                      8.34                 8.33
# 5                      11.1                11.11
# 6                     13.83                13.89
# 7                     16.68                16.67
# 8                      13.9                13.89
# 9                      11.1                11.11
# 10                     8.36                 8.33
# 11                     5.57                 5.56
# 12                     2.79                 2.78
n_sim = 1000
n_dice = 2
import random




#single_experiment = tuple((random.randint(1,6) for i in range(n_dice)))


statistic = {i:0 for i in range(2,13)}

for i_exp in range(n_sim):
    # single_experiment
    single_experiment = tuple((random.randint(1,6) for i in range(n_dice)))
    m_sum = sum(single_experiment)
    
    #if m_sum not in statistic:
    #    statistic[m_sum] = 0
    statistic[m_sum] += 1
prob_statistic = {k:100*v/n_sim for k,v in statistic.items()}

# lets count
prob_count = {i:0 for i in range(2,13)}
for dice1 in range(1,7):
    for dice2 in range(1,7):
        m_sum = dice1+dice2
        #if m_sum not in prob_count:
        #    prob_count[m_sum] = 0
        prob_count[m_sum] += 1

prob_count = {k:100*v/(6*6) for k,v in prob_count.items()}
#prob_count
#anlyse it
prob_statistic

print(f"Sum   Exp.  Theory")
for m_sum in range(2,13):
    print(f"{m_sum:2} {prob_statistic[m_sum]:7.2f} {prob_count[m_sum]:7.2f}")

Sum   Exp.  Theory
 2    3.40    2.78
 3    6.00    5.56
 4    8.60    8.33
 5   10.20   11.11
 6   13.40   13.89
 7   17.40   16.67
 8   14.10   13.89
 9   10.50   11.11
10    7.30    8.33
11    6.20    5.56
12    2.90    2.78

## Lambda Function

In [67]:
values = [1,2,4,8]

In [68]:
def my_func(x):
    return pow(x, 2.7)
list(map(my_func,values))

[1.0, 6.498019170849885, 42.22425314473263, 274.37400640929116]

In [69]:
list(map(lambda x: pow(x, 2.7),values))

[1.0, 6.498019170849885, 42.22425314473263, 274.37400640929116]

In [74]:
(lambda x: pow(x, 2.7))(3)

19.419023519771343

In [70]:
func=lambda x: pow(x, 2.7)

In [72]:
func(2)

6.498019170849885

In [76]:
# lambda_ex1.py
# Write a function that squares a number and returns the value.
# Write it again again using Lambda functions
def my_func(x):
    return pow(x, 2)

lambda x: pow(x, 2)

In [79]:
my_func(3)

9

In [78]:
(lambda x: pow(x, 2))(3)

9

In [81]:
# lambda_ex2.py
# Write a lambda function for adding two numbers
lambda x,y : x+y
(lambda x,y : x+y)(1,2)

3

In [85]:
# lambda_ex3.py
# Write a lambda function that multiples two numbers. Use the lambda function as an input to another function.
lambda x,y : x*y

xy = (
    (1,2),
    (4,5),
    (6,5),
    (4,2),
    (2,8)
)

sorted(xy, key=lambda x : x[0]*x[1])

[(1, 2), (4, 2), (2, 8), (4, 5), (6, 5)]

In [88]:
def my_big_function(func_in):
    import random
    print(func_in(random.randint(0,10),random.randint(0,10)))

my_big_function(lambda x,y : x*y)

70

In [107]:
# lambda_ex4.py
# 1) Write a function to double a list
# 2) Use list comprehension to double a list
# 3) Use lambda with map to double a list
# here double means square

# lambda functions are used with other functions. Usually with map, filter, sort

m_list = list(range(0,100,10))

# double this list
#range(len(m_list))
for i in range(len(m_list)):
    #print(i,m_list[i])
    m_list[i] = m_list[i]*m_list[i]
print(m_list)

# method 1 - define a square function
def square(x):
    return x*x

# method 2 - list comprehension
m_list = list(range(0,100,10))

print([x*x for x in m_list])
print([square(x) for x in m_list])
print([(lambda y: y*y)(x) for x in m_list])

# method 3 - use lambda with map
print(list(map(square, m_list)))

print(list(map(lambda y: y*y, m_list)))
# map objects are a generator. How many times can you iterate over them?
#m_list

[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]
[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]
[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]
[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]
[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]
[0, 100, 400, 900, 1600, 2500, 3600, 4900, 6400, 8100]

In [ ]:
# lambda_ex5.py
# Capitalize the names in the students list
# 1) using a list and loop
# 2) using list comprehension
# 3) using lambda and map

students = ['john', 'jane', 'doe']

# make upper case


# method 1 create new list and loop

# method 2 -- use list comprehension

# method 3 -- use lambda

In [115]:
# lambda_ex6.py
# Using lambda and map, convert the numbers to float

# covert each value to float

my_dict = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

convert = float

print([{'value': convert(v['value'])} for v in my_dict])

def convert(x):
    return {'value': float(x['value'])}

print(list(map(convert, my_dict)))

print(list(map(lambda x: {'value': float(x['value'])}, my_dict)))

[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]
[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]
[{'value': 34.4}, {'value': 45.3}, {'value': 73.4}]

In [ ]:
# lambda_ex7.py
# Create a dictionary where the key is year and
# value is True/False if the year is a leap year
# 1) using a loop and dict
# 2) using filter without a function
# 3)

years = range(1970, 2000) # for these years



def is_leap_year(year):
    # does not work for century year
    if year % 4 == 0:
        return True
    else:
        return False

In [116]:
# lambda_ex8.py
# Sort x using value
x = (('efg', 1), ('abc', 3), ('hij', 2))

print(sorted(x)) # does work

print(sorted(x, key=lambda ele: ele[1] ))

[('abc', 3), ('efg', 1), ('hij', 2)]
[('efg', 1), ('hij', 2), ('abc', 3)]

In [33]:
# lambda_ex9.py
# sort dictionary by username
# reverse sort

students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]

from pprint import pprint
print(sorted(students, key=lambda student: student['username']))
print()
print(sorted(students, key=lambda student: student['username'], reverse=True))

[{'grade': 89, 'username': 'Kelly'}, {'username': 'doe', 'grade': 35}, {'username': 'jane', 'grade': 80}, {'username': 'john', 'grade': 50}]

[{'username': 'john', 'grade': 50}, {'username': 'jane', 'grade': 80}, {'username': 'doe', 'grade': 35}, {'grade': 89, 'username': 'Kelly'}]

In [121]:
# lambda_ex10.py
# sort dictionary by grade
# reverse sort
from pprint import pprint
students = [
    {'username': 'john', 'grade': 50},
    {'username': 'jane', 'grade': 80},
    {'username': 'doe', 'grade': 35},
    {'grade': 89, 'username': 'Kelly'}
]
pprint(sorted(students, key=lambda x:x['grade'], reverse=True))

pprint(sorted(students, key=lambda x:-x['grade']))

[{'grade': 89, 'username': 'Kelly'},
 {'grade': 80, 'username': 'jane'},
 {'grade': 50, 'username': 'john'},
 {'grade': 35, 'username': 'doe'}]
[{'grade': 89, 'username': 'Kelly'},
 {'grade': 80, 'username': 'jane'},
 {'grade': 50, 'username': 'john'},
 {'grade': 35, 'username': 'doe'}]

In [122]:
# lambda_ex11.py
# sort array by len of names
students = ['john', 'Janette', 'doe']
pprint(sorted(students, key=lambda x:len(x)))

['doe', 'john', 'Janette']

In [123]:
# lambda_ex12.py
# sort dictionary by value

my_list = [{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]

pprint(sorted(my_list, key=lambda x:float(x['value'])))

[{'value': '34.4'}, {'value': '45.3'}, {'value': '73.4'}]